*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;

}

body{
    background-color: antiquewhite;
    font-size: 1.5em;
}

#container{
    border-radius: 16px;
    margin: 0 auto;
    background-color: white;
    margin-top: 80px;
    width: 350px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(7,70px);
    justify-content: space-around;
    align-content: end;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 10px 10px 10px;
}

.botao{
    border-radius: 6px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.botao:hover{
    background-color: rgb(116, 19, 19);
}

.botao-calc{
    border-radius: 6px;
    background-color: coral;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    grid-column: 2/5;
}
.botao-calc:hover{
    background-color: rgb(182, 82, 46);
}

.botao-c{
    border-radius: 6px;
    background-color: coral;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    grid-row: 4/7;
    grid-column: 4/5;
}
.botao-c:hover{
    background-color: rgb(182, 82, 46);
}

.botao-op{
    border-radius: 6px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    order: -1;
}
.botao-op:hover{
    background-color: rgb(116, 19, 19);
}

#resp{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8em;
    border: none;
    order: -2;
    grid-row: 1/3;
    grid-column: 1/5;
    text-align: center;
}